:root {
    --bs-black: #0D0D0D;
    --bs-mocha: #A67246;
    --bs-tan: #e3b882
}

.bg-black {
    background-color: var(--bs-black);
}

.bg-mocha {
    background-color: var(--bs-mocha);
}

.bg-tan {
    background-color: var(--bs-tan);
}

.border-mocha {
    background-color: var(--bs-mocha);
}

body {
    background-image: url("img/background-coffee-cup2.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.text-mocha {
    color: #A67246 !important;
    opacity: 0.9;
}

.text-tan {
    color: #e3b882;
    opacity: 0.75;
}

.text-offWhite {
    color: #c4c4c4;
}







